*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #181818;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
  max-width: 100%;
  background-color: #262626;
}

/* ==== header section end ==== */
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 0;

}

.brand img{
  height: 25px;
  width: 92px;
  cursor: pointer;
}

.search-input input{
  padding: 12px 55px 12px 22px;
  background-color: #181818;
  border: none;
  width: 500px;
  color: white;
  font-size: 16px;
  border-radius:8px ;
}

.search-input{
  position: relative;
  display: flex;
  align-items: center;
  
}

.search-input i{
  color: white;
  font-size: 20px;
  position: absolute;
  right: 5%;
  cursor: pointer;
  

}

.profile-other{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.profile{
  height:40px;
  width: 40px;
  background-color: rgb(134, 134, 134);
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 80px; 
    right: 0;
    background-color:#262626;
    height: 600px;
    border-radius: 8px;
    min-width: 250px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 100;
    padding: 20px 20px;
}

.profile-name{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.151);
  margin-bottom: 20px;
}

.profile-name h4{
  color: white;
  font-size: 20px;
  margin-bottom:10px ;
}

.create-ad,
.monetization{
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  margin-bottom: 20px;
}
.create-ad p,
.monetization p{
  font-size: 16px;
  color: white;
}


/* ===== header section end ==== */