@media screen and (max-width:576px){

/* ======= header section start ======= */
.header-container{
  width: 100%;
  padding: 20px 20px;

}

.search-input input{
  padding: 10px 30px 10px 10px;
  width: 150px;
  font-size: 12px;
}

.search-input i{
  font-size: 12px;
}

.profile-other{
    display: none;
}

.bars{
  display: block;
  font-size: 20px;
  color: white;
  cursor: pointer;

}
/* ======= header section end ======= */
}