@media screen and (min-width:577px) and (max-width:768px){

/* ======= header section start ======= */
.header-container{
  width: 100%;
  padding: 20px 20px;

}

.search-input input{
  width: 400px;
}

.profile-other{
    display: none;
}


/* ======= header section end ======= */


}